body {
    margin: 1in auto;
    width: 6in;
    font-family "Gill Sans", sans-serif;
    color: #337;
}

#to_complete {
    padding: 0;
    margin: 0;
}

#suggestions {
    margin: 0;
    padding: 2px;
    border: 1px dotted #115;
}

#suggestions p {
    margin: 0;
    padding: 0;
    color: #226;

}